body {
	background:#005aff;
	margin: 0;
	padding: 0;
	color: white;
	font-family: 'Oswald', sans-serif;

}
/*
#splash {
	background:#000;
	position: absolute;
	z-index: 99999;

}
*/
.container {
	width: 300px;
	margin: 0 auto;
}


.header {
	background:#003366;
	overflow: hidden;
}
/*#logo {
	width: 320px;
}*/

#logo {
	float: left;
}

#logo img {
	width: 45px;
	margin:5px 0 0 5px;
}

.menu {
	float: right;
	margin: 10px;
}

.menu ul {
	margin: 0;
}

.menu ul li {
	list-style-type: none;
}

.pretraga {
	clear: both;
	margin: 10% auto 0;
	width:163px;
}

.pretraga select {
	-webkit-appearance:none;
	background: #005aff; /*url(http://imgur.com/oYyh0h8)*/
	color: white;
	font-size: 32px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	border: 0px;
	outline: 0;
}

.pretraga select option:focus {
	outline: 0;
}

.rezultati {
	display: none;
}

.rezultati h1 {
/*	margin-top: 20px !important;
	line-height: 30px;*/
	display: none;
}

.rezultati h2 {
	font-weight: 400;	
}

.rezultati h2, .rezultati p {
	text-align: center;
	margin: 5px 0;
}